{% extends 'base.html' %} 
{% block content %}


<div class="container-fluid">
    <div class="row">
        {% for article in news %}
        <div class="col-md-4">
            <a href={{article.url}}><img src={{article.urlToImage}}></a>
            <div class="details">
                <p> {{article.title}} </p>
                <p>Posted on {{article.publishedAt}}</p>
                <p>{{article.description}}<a href={{article.url}} target="_blank"> More</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}