{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
        </div>
    </div>
    <div class="row">
        {% for article_source in source_id %}
        <div class="col-md-4">
            <a href={{article.url}} target="_blank"> <img src={{article.urlToImage}}></a>
            <div class="desc">
                <h4> {{article.title}} </h4>
                <p>- {{article.author}} </p>
                <p>Posted on {{article.publishedAt}}</p>
                <hr>
                <p> {{article.description}}
                <a href={{article.url}} target="_blank"> More</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}