{% extends 'base.html' %} 
{% block content %}


<div class="container-fluid">
    <div class="row">
        {% for article in news %}
        <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{article.url}}" target="_blank">
                        <img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
                    </a>
                    <div class="caption">
                        <h4><a href="{{article.url}}" target="_blank">{{article.title |truncate(35)}}</a></h4>
                        <p>{{article.description | truncate(100)}}</p>
                        <a href="{{article.url}}" target="_blank"> Read Full article </a>
                    </div>
                    <div class="footer">
                        Posted on : {{article.date}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}