        {% extends 'base.html' %}
        {% block content %}



                <div class="container-fluid">
                <div class="row">
                {% for all_news in general %}
                <div class="col-md-2">
                        <div class="thumbnail">
                                <div class="details">
                                        <h4>{{all_news.name}}</a></h4>
                                        <p>{{all_news.description | truncate(100)}}</p>
                                        <p><a href="/articles/{{ all_news.id}}">Visit source</a></p>
                                </div>
                        </div>
                 </div>
                 {% endfor %}
                </div>
                </div>
                <hr>



                                      
        {%  endblock %}

   